.wrap{
    display: flex;
    flex-direction: column;
  
    width: 100%;
   
    
   
    .active-link{
        color: white;
        display: flex;
        width: 100%;
        padding: 2rem 0;
        align-items: center;
        text-decoration: none;
        background-color: #13161e;
        .page{
            width: 100%;
            cursor: pointer;
            color: white;
            padding: .5rem;
            font-size: 20px;
            display: flex;
            justify-content: center;
        }
        span{
            width: 100%;
        }
    }
    .not-active-link{
        display: flex;
        width: 100%;
        padding: 2rem 0;
        align-items: center;
        text-decoration: none;
        
        color:#707290 ;

        .page{
            width: 100%;
            cursor: pointer;
            padding: .5rem;
            font-size: 20px;
            display: flex;
            justify-content: center;

        }

        &:hover{
            color: white;
            background-color: rgb(26, 30, 39);

        }
        span{
            width: 100%;
        }
    }

}