
    .modal-content {
        position: absolute;
        width: 400px;
        height: 300px;
        background-color: red;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
       
    }



