
    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 60vh;
        background-color: #141820;
        border: 1px solid rgb(37, 42, 53);
        border-radius: 0.625rem;
        z-index: 1500;
        overflow: hidden;
        cursor: default;
        padding: 2rem;

        .form-container{
         
            display: flex;
            flex-direction: column;
            gap:2rem;

            .title{
                display: flex;
                justify-content: space-between;

                h2{
                    color: #707290;
                }
                .close-btn{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                    display: inline-flex;
                    height: 2rem;
                    width: 2rem;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9999px;
                    border-style: solid;
                    --tw-border-opacity: 1;
                    border-color: rgb(37 42 53 / var(--tw-border-opacity));
                    font-size: .875rem;
                    line-height: 1.25rem;
                    --tw-text-opacity: 1;
                    color: rgb(144 146 178 / var(--tw-text-opacity));
                    background-color: #1f232d;
                    transition: background-color .3s;
            
            
                }
            }

            .options{
                display: flex;
                justify-content: space-between;
                gap: 3rem;

                .inpt{
                    color: #707290;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    font-size: 20px;
                    font-weight: 600;

                    input{
                        background-color: rgb(26, 30, 39);
                        border-radius: 0.625rem;
                        padding: 0.3rem 0.7rem;
                        cursor: pointer;
                        border: none;
                        outline:none;
                        color: white;
                        font-size: 22px;
                        font-size: 900;
                        width: 100px;

                        &::placeholder{
                            color: #707290 ;
                        }
                       
                    }
                    .title{
                        color: #707290;
                        font-size: 20px;
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }
                }
            }

            .note{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h3{
                    color: #707290;
                }
                textarea{
                    width: 100%;
                    background-color: #1A1E27;
                    border-radius: 0.625rem;
                    outline: none;
                    border: 1px solid rgb(33, 39, 52);
                    padding: 1rem;
                    height: 150px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.25rem;
                    color: white;
                    font-family: sans-serif;

                    &::placeholder{
                        color: #707290 ;
                    }
                }
            }
        }
       
    }



