.wrap {

    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    grid-template-rows: repeat(4, 1fr);

    

    .container {
        
       
        display: grid;
        grid-template-columns: 25% 55% 20%; 
        color: #707290;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;

        .circle{
          
            width: 100%;
            display: flex;
            justify-content: center;
            
            .circle1 {
                
                width: 30px;
                height: 30px;
                img{
                width: 30px;

                }
            }
            .circle2 {
                width: 30px;
                height: 30px;
                background-color: #0175A9;
                border-radius: 99rem;
            }
            .circle3 {
                width: 30px;
                height: 30px;
                background-color: #009A44;
                border-radius: 99rem;
            }
            .circle4 {
                width: 30px;
                height: 30px;
                background-color: #ED6942;
                border-radius: 99rem;
            }
            .circle5 {
                width: 30px;
                height: 30px;
                background-color: #5F52A1;
                border-radius: 99rem;
            }
            
        }

        .quantity{
           
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .name{
          
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }
}
