.search-wrap{
    width: 100%;
}
.wrap{
    margin-top: .5rem;
    width: 100%;
    height: 85vh;
    background-color: rgb(26 30 39);
    border-radius: .625rem;
    overflow: scroll;
    padding-bottom: 1rem;
}