.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;


    .container {
        
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: #707290;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;

        .img{
            width: 30px;
        }

        .circle-wrap{
          
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .circle {
                
                width: 30px;
                height: 30px;
                border-radius: 99rem;
            }
            
        }

        .quantity{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .name{
          
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
