.wrap {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 255px;
    height: 250px;
    position: relative;
    
  }
  
  .column {
    position: absolute;
    bottom: 0;
    width:50px;
    color:#b0b1bc ;
    
  }
  
  .column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    min-height: 20px; 
    height: 25%;
    background-color: rgb(88, 86, 86);;
  }
  
  .column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px; 
    left: 70px; 
    height: 35%;
    background-color: green;
  }
  
  .column3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px; 
    left: 140px;
    height: 40%;
    background-color: rgb(178, 34, 34);

  }
  .column4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px; 
    left: 210px;
    height: 100%;
    background-color: rgb(72, 72, 162);
  }
  